<section class="alsoLikeSection">
    <H2 data-aos="fade-down" data-aos-delay="100" data-aos-once="true">CAPAZ TE GUSTE</H2>
    <i class="bi bi-arrow-down-short" data-aos="fade-down" data-aos-delay="100" data-aos-once="true"></i>
    <div class="alsoLikeCards" data-aos="fade-up" data-aos-delay="500" data-aos-once="true">
        <div class="alsoLikeCard">
            <% if(productos.camperas.destacada) { %>
                <a href="/prod/hydro/<%= productos.camperas.destacada._id %>">
                    <img src="<%= productos.camperas.destacada.imagen %>" alt="hodie">
                    <div class="alsoLikeInfo">
                        <h4>
                            <%= productos.camperas.destacada.modelo %>
                        </h4>
                        <p>$<%= productos.camperas.destacada.precio %>
                        </p>
                    </div>
                </a>

                <% } %>
        </div>
        <div class="alsoLikeCard">
            <% if(productos.camperas.otros[0]) { %>
                <a href="/prod/hydro/<%= productos.camperas.otros[0]._id %>">
                    <img src="<%= productos.camperas.otros[0].imagen %>" alt="hodie">
                    <div class="alsoLikeInfo">
                        <h4>
                            <%= productos.camperas.otros[0].modelo %>
                        </h4>
                        <p>$<%= productos.camperas.otros[0].precio %>
                        </p>
                    </div>
                </a>

                <% } %>
        </div>
        <div class="alsoLikeCard">
            <% if(productos.zapatillas.otros[0]) { %>
                <a href="/prod/hydro/<%= productos.zapatillas.otros[0]._id %>">
                    <img src="<%= productos.zapatillas.otros[0].imagen %>" alt="hodie">
                    <div class="alsoLikeInfo">
                        <h4>
                            <%= productos.zapatillas.otros[0].modelo %>
                        </h4>
                        <p>$<%= productos.zapatillas.otros[0].precio %>
                        </p>
                    </div>
                </a>

                <% } %>
        </div>
        <div class="alsoLikeCard">
            <% if(productos.zapatillas.destacada) { %>
                <a href="/prod/hydro/<%= productos.zapatillas.destacada._id %>">
                    <img src="<%= productos.zapatillas.destacada.imagen %>" alt="hodie">
                    <div class="alsoLikeInfo">
                        <h4>
                            <%= productos.zapatillas.destacada.modelo %>
                        </h4>
                        <p>$<%= productos.zapatillas.destacada.precio %>
                        </p>
                    </div>
                </a>

                <% } %>
        </div>
    </div>
</section>
</main>
<style>
    .alsoLikeSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85vw;
        min-height: 50vh;
        margin: 0 auto;
        padding-bottom: 1rem;
    }

    .alsoLikeSection h2,
    .alsoLikeSection i {
        text-align: center;
        cursor: pointer;
    }

    .alsoLikeSection i {
        font-size: 2.3rem;
        font-weight: 700;
    }

    .alsoLikeCard:hover img {
        opacity: 0.7;
    }

    .alsoLikeCards {
        width: 100%;
        min-height: 100%;
        display: grid;
        grid-template-columns: 22% 22% 22% 22%;
        grid-template-rows: 1fr;
        justify-content: space-between;
        z-index: 1;
        gap: 1rem;
    }
    .alsoLikeCards a {
        text-decoration: none;
        color: black;
    }

    .alsoLikeCard {
        cursor: pointer;
    }

    .alsoLikeCard img {
        border: 1.5px solid #a5a5a5be;
        background-color: #EAEFF1;
        border-radius: 0.2rem;
        transition: all 0.4s ease-in-out;
    }

    .alsoLikeCards img {
        max-width: 100%;
        height: 20rem;
        object-fit: cover;
    }

    .alsoLikeInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 3rem;
        font-size: 0.8rem;
        font-weight: 700;
    }


    @media screen and (max-width:767px) {
        .alsoLikeCards {
            width: 87%;
            grid-template-columns: repeat(1, 1fr);
        }
    }

    @media screen and (min-width:768px) and (max-width:1023px) {
        .alsoLikeCards {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (min-width:1024px) and (max-width:1439px) {}

    @media screen and (min-width:1440px) and (max-width:1920px) {}
</style>