<section class="completeLookSection">
    <H2 data-aos="fade-down-right" data-aos-delay="100" data-aos-once="true">LOOK COMPLETO</H2>
    <i class="bi bi-arrow-down-short" data-aos="fade-down-right" data-aos-delay="100" data-aos-once="true"></i>
    <div class="completeLookCards" data-aos="fade-up-left" data-aos-delay="500" data-aos-once="true">
        <div class="completeLookCardUno">
            <% if(productos.remeras.otros[1]) { %>
                <a href="/prod/hydro/<%=  productos.remeras.otros[1]._id  %>">
                    <img src="<%= productos.remeras.otros[1].imagen  %>" alt="hodie">
                    <div class="cLCardInfo">
                        <h4>
                            <%= productos.remeras.otros[1].modelo %>
                        </h4>
                        <p>$<%= productos.remeras.otros[1].precio %>
                        </p>
                    </div>
                </a>

                <% } %>
        </div>
        <div class="completeLookCardDos">
            <% if(productos.remeras.otros[0]) { %>
                <a href="/prod/hydro/<%=  productos.remeras.otros[0]._id  %>">
                    <img src="<%=  productos.remeras.otros[0].imagen  %>" alt="remera">
                    <div class="cLCardInfo">
                        <h4>
                            <%= productos.remeras.otros[0].modelo %>
                        </h4>
                        <p>$<%= productos.remeras.otros[0].precio %>
                        </p>
                    </div>
                </a>

                <% } %>
        </div>
        <div class="completeLookCardTres">
            <% if(productos.pantalones.otros[1]) { %>
                <a href="/prod/hydro/<%=  productos.pantalones.otros[1]._id  %>">
                    <img src="<%=  productos.pantalones.otros[1].imagen  %>" alt="hodie">
                    <div class="cLCardInfo">
                        <h4>
                            <%= productos.pantalones.otros[1].modelo %>
                        </h4>
                        <p>$<%= productos.pantalones.otros[1].precio %>
                        </p>
                    </div>
                </a>

                <% } %>
        </div>
        <div class="completeLookCardCuatro">
            <% if(productos.pantalones.otros[0]) { %>
                <a href="/prod/hydro/<%=  productos.pantalones.otros[0]._id  %>">
                    <img src="<%=  productos.pantalones.otros[0].imagen  %>" alt="hodie">
                    <div class="cLCardInfo">
                        <h4>
                            <%= productos.pantalones.otros[0].modelo %>
                        </h4>
                        <p>$<%= productos.pantalones.otros[0].precio %>
                        </p>
                    </div>
                </a>

                <% } %>
        </div>
    </div>
</section>
<style>
    .completeLookSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85vw;
        min-height: 60vh;
        margin: 0 auto;
        padding-bottom: 1rem;
    }

    .completeLookSection h2,
    .completeLookSection i {
        text-align: center;
        cursor: pointer;
    }

    .completeLookSection i {
        font-size: 2.3rem;
        font-weight: 700;
    }

    .completeLookCardUno:hover img,
    .completeLookCardDos:hover img,
    .completeLookCardTres:hover img,
    .completeLookCardCuatro:hover img {
        opacity: 0.7;
    }

    .completeLookCards {
        width: 100%;
        min-height: 100%;
        display: grid;
        grid-template-columns: 22% 22% 22% 22%;
        grid-template-rows: 1fr;
        justify-content: space-between;
        z-index: 1;
        gap: 1rem;
    }

    .completeLookCardUno,
    .completeLookCardDos,
    .completeLookCardTres,
    .completeLookCardCuatro {
        cursor: pointer;
    }

    .completeLookCardUno img,
    .completeLookCardDos img,
    .completeLookCardTres img,
    .completeLookCardCuatro img {
        transition: all 0.4s ease-in-out;
        border: 1.5px solid #a5a5a5be;
        background-color: #EAEFF1;
        border-radius: 0.2rem;
    }

    .completeLookCards img {
        max-width: 100%;
        height: 20rem;
        object-fit: cover;
    }

    .completeLookCards a {
        text-decoration: none;
        color: black;
    }

    .cLCardInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 3rem;
        font-size: 0.8rem;
        font-weight: 700;
    }


    @media screen and (max-width:767px) {
        .completeLookCards {
            width: 87%;
            grid-template-columns: repeat(1, 1fr);
        }
    }

    @media screen and (min-width:768px) and (max-width:1023px) {
        .completeLookCards {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (min-width:1024px) and (max-width:1439px) {}

    @media screen and (min-width:1440px) and (max-width:1920px) {}
</style>