<section class="colleccion carousel-container" data-aos="zoom-in">

    <section id="newCollection section1" class="carrusel">

        <div class="headerCollection">

            <div class="title">
                <h2>Nueva colleccion</h2>
            </div>

            <div class="btn">

                <div class="arrowLeft">
                    <button id="prev-button-0"><i class="bi bi-arrow-left"></i></button>
                </div>

                <div class="arrowRight">
                    <button id="next-button-0"><i class="bi bi-arrow-right"></i></button>
                </div>

            </div>


        </div>

        <div class="mainCollection">
            <div class="productCollectionOne">
                <% if (productos.remeras.destacada) { %>
                    <div class="wideProduct">
                        <a href="/prod/hydro/<%= productos.remeras.destacada._id %>">
                            <div>
                                <img src="<%= productos.remeras.destacada.imagen %>" alt="">
                            </div>

                            <div class="infoProduct">
                                <div class="nameProduct">
                                    <a href="#">
                                        <%= productos.remeras.destacada.modelo %>
                                    </a>
                                </div>

                                <div class="for">
                                    <p>
                                        <%= productos.remeras.destacada.descripción %>
                                    </p>
                                </div>

                                <div class="price">
                                    <p>$<%= productos.remeras.destacada.precio %>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% } %>
                        <% productos.remeras.otros.forEach(p=> { %>
                            <div class="product">

                                <a href="/prod/hydro/<%= p._id %>">
                                    <div>
                                        <img src="<%= p.imagen %>" alt="">
                                    </div>

                                    <div class="infoProduct">
                                        <div class="nameProduct">
                                            <a href="#">
                                                <%= p.modelo %>
                                            </a>
                                        </div>

                                        <div class="for">
                                            <p>
                                                <%= p.descripción %>
                                            </p>
                                        </div>

                                        <div class="price">
                                            <p>$<%= p.precio %>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <%})%>
            </div>
            <div class="productCollectionTwo">
                <% productos.pantalones.otros.forEach(p=> { %>
                    <div class="product">

                        <a href="/prod/hydro/<%= p._id %>">

                            <div>
                                <img src="<%= p.imagen %>" alt="">
                            </div>

                            <div class="infoProduct">
                                <div class="nameProduct">
                                    <a href="#">
                                        <%= p.modelo %>
                                    </a>
                                </div>

                                <div class="for">
                                    <p>
                                        <%= p.descripción %>
                                    </p>
                                </div>

                                <div class="price">
                                    <p>$<%= p.precio %>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <%})%>
                        <% if (productos.pantalones.destacada) { %>
                            <div class="wideProduct">

                                <a href="/prod/hydro/<%= productos.pantalones.destacada._id %>">
                                    <div>
                                        <img src="<%= productos.pantalones.destacada.imagen %>" alt="">
                                    </div>

                                    <div class="infoProduct">
                                        <div class="nameProduct">
                                            <a href="#">
                                                <%= productos.pantalones.destacada.modelo %>
                                            </a>
                                        </div>

                                        <div class="for">
                                            <p>
                                                <%= productos.pantalones.destacada.descripción %>
                                            </p>
                                        </div>

                                        <div class="price">
                                            <p>$<%= productos.pantalones.destacada.precio %>
                                            </p>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <% } %>
            </div>

            <div class="imagesCollection">
                <% if (productos.mochilas.destacada) { %>

                    <a href="/prod/hydro/<%= productos.mochilas.destacada._id %>">
                        <div class="image">
                            <img src="<%= productos.mochilas.destacada.imagen %>" alt="">
                        </div>
                    </a>

                    <% } %>

                        <div class="advertisement">
                            <div class="titleAd">
                                <h1>Oferta de mitad de temporada: hasta 50% de descuento</h1>
                            </div>
                            <div class="textAd">
                                <p>Obtén grandes ganancias en toneladas de artículos por tiempo
                                    limitado, incluidos
                                    artículos esenciales para actividades al aire libre.</p>
                            </div>
                            <div class="btnAd">
                                <button id="shopBtn">Shop</button>
                            </div>
                        </div>

                        <% productos.mochilas.otros.forEach(p=> { %>

                            <a href="/prod/hydro/<%= p._id %>">
                                <div class="image">
                                    <img src="<%= p.imagen %>" alt="">
                                </div>
                            </a>

                            <% }) %>
            </div>
        </div>
    </section>
    <section id="popularNow section2" class="carrusel ">
        <div class="headerPopular">
            <div class="title">
                <h2>Popular ahora</h2>
            </div>

            <div class="btn">

                <div class="arrowLeft">
                    <button id="prev-button-1"><i class="bi bi-arrow-left"></i></button>
                </div>

                <div class="arrowRight">
                    <button id="next-button-1"><i class="bi bi-arrow-right"></i></button>
                </div>

            </div>
        </div>
        <div class="mainPopular">

            <% if(productos.camperas.destacada) { %>
                <div class="product">
                    <a href="/prod/hydro/<%= productos.camperas.destacada._id %>">
                        <img src="<%= productos.camperas.destacada.imagen %>" alt="">
                        <div class="infoProduct">
                            <div class="nameProduct">
                                <a href="#">
                                    <%= productos.camperas.destacada.marca %>
                                </a>
                            </div>
                            <div class="for">
                                <p>
                                    <%= productos.camperas.destacada.imagen.descripción %>
                                </p>
                            </div>
                            <div class="price">
                                <del>$60</del>
                                <span>$<%=productos.camperas.destacada.imagen.precio%></span>
                            </div>
                        </div>
                    </a>
                </div>
                <% } %>

                    <% if(productos.zapatillas.destacada) { %>
                        <div class="product">
                            <a href="/prod/hydro/<%= productos.zapatillas.destacada._id %>">
                                <img src="<%= productos.zapatillas.destacada.imagen %>" alt="">
                                <div class="infoProduct">
                                    <div class="nameProduct">
                                        <a href="#">
                                            <%= productos.zapatillas.destacada.marca %>
                                        </a>
                                    </div>
                                    <div class="for">
                                        <p>
                                            <%= productos.zapatillas.destacada.descripción %>
                                        </p>
                                    </div>
                                    <div class="price">
                                        <p>$<%=productos.zapatillas.destacada.precio%>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% } %>
                            <% productos.camperas.otros.forEach(p=>{ %>
                                <div class="product">
                                    <a href="/prod/hydro/<%= p._id %>">
                                        <img src="<%= p.imagen %>" alt="">
                                        <div class="infoProduct">
                                            <div class="nameProduct">
                                                <a href="#">
                                                    <%= p.marca %>
                                                </a>
                                            </div>
                                            <div class="for">
                                                <p>
                                                    <%= p.descripción %>
                                                </p>
                                            </div>
                                            <div class="price">
                                                <p>$<%=p.precio%>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <% }) %>
        </div>
        <div class="footerPopular">
            <div class="imagesPopular">
                <% if(productos.camperas.destacada) { %>
                    <a href="/prod/hydro/<%= productos.camperas.destacada._id %>">
                        <div class="imageP">
                            <img src="<%= productos.camperas.destacada.imagen %>" alt="">
                        </div>
                    </a>
                    <div class="imageP">
                        <img src="<%= productos.camperas.destacada.imagen %>" alt="">
                    </div>
                    <% } %>
                        <% productos.zapatillas.otros.forEach(p=>{ %>
                            <a href="/prod/hydro/<%= p._id %>">
                                <div class="imageP">
                                    <img src="<%= p.imagen %>" alt="">
                                </div>
                            </a>
                            <% }) %>

            </div>

            <div class="wideImagePopular">
                <% if(productos.remeras.destacada) { %>
                    <a href="/prod/hydro/<%= productos.remeras.destacada._id %>">
                        <div class="wideImageP">
                            <img src="<%= productos.remeras.destacada.imagen %>" alt="">
                        </div>
                    </a>
                    <% } %>
                        <div class="wideAdvertisement">

                            <div class="titleAdW">
                                <h1>desbloquea más de lo que amas</h1>
                            </div>

                            <div class="textAdW">
                                <p>Únase ahora para obtener acceso inmediato a una variedad de beneficios de adiclub.
                                    Desde envío gratuito y descuentos solo para miembros hasta acceso anticipado y
                                    prioritario,
                                    todo está a solo un clic de distancia.</p>
                            </div>

                            <div id="uneteBtn" class="btnAdW">
                                <button>Unete a adiclub</button>
                            </div>

                        </div>
            </div>
            <div class="imagesPopular">
                <% productos.mochilas.otros.forEach(p=>{ %>
                    <a href="/prod/hydro/<%= p._id %>">
                        <div class="imageP">
                            <img src="<%=p.imagen%>" alt="">
                        </div>
                    </a>
                    <% }) %>
            </div>
            <div class="wideImagePopular">
            <% if(productos.pantalones.destacada) { %>
                <a href="/prod/hydro/" <%= productos.pantalones.destacada._id %>>
                    <div class="wideImageP">
                        <img src="<%=  productos.pantalones.destacada.imagen  %>" alt="">
                    </div>
                </a>
                <% } %>
            
            </div>
        </div>

    </section>
    <section id="newArrivals section3" class="carrusel">

        <div class="headerArrivals">

            <div class="title">
                <h2>Los recien llegados</h2>
            </div>

            <div class="btn">

                <div class="arrowLeft">
                    <button id="prev-button-2"><i class="bi bi-arrow-left"></i></button>
                </div>

                <div class="arrowRight">
                    <button id="next-button-2"><i class="bi bi-arrow-right"></i></button>
                </div>

            </div>

        </div>
        <div class="mainArrivals">
            <div class="productArrivalOne">
                <div class="fliaOne">
                    <div class="product">
                        <% if(productos.zapatillas.destacada) { %>
                            <a href="/prod/hydro/<%= productos.zapatillas.destacada._id %>">

                                <img src="<%=  productos.zapatillas.destacada.imagen %>" alt="">
                                <div class="infoProduct">
                                    <div class="nameProduct">
                                        <a href="#">
                                            <%= productos.zapatillas.destacada.marca %>
                                        </a>
                                    </div>
                                    <div class="for">
                                        <p>
                                            <%= productos.zapatillas.destacada.descripción %>
                                        </p>
                                    </div>
                                    <div class="price">
                                        <p>$<%= productos.zapatillas.destacada.precio %>
                                        </p>
                                    </div>
                                </div>
                            </a>
                            <% } %>
                    </div>
                    <div class="product">

                        <% if(productos.pantalones.destacada) { %>
                            <a href="/prod/hydro/<%= productos.pantalones.destacada._id %>">
                                <img src="<%=  productos.pantalones.destacada.imagen %>" alt="">
                                <div class="infoProduct">
                                    <div class="nameProduct">
                                        <a href="#">
                                            <%= productos.pantalones.destacada.marca %>
                                        </a>
                                    </div>
                                    <div class="for">
                                        <p>
                                            <%= productos.pantalones.destacada.descripción %>
                                        </p>
                                    </div>
                                    <div class="price">
                                        <p>$<%= productos.pantalones.destacada.precio %>
                                        </p>
                                    </div>
                                </div>
                            </a>
                            <% } %>
                    </div>
                </div>
                <div class="fliaTwo">
                    <div class="wideProduct">
                        <% if(productos.remeras.destacada) { %>
                            <a href="/prod/hydro/<%= productos.remeras.destacada._id %>">

                                <img src="<%=productos.remeras.destacada.imagen%>" alt="">
                                <div class="infoProduct">
                                    <div class="nameProduct">
                                        <a href="#">
                                            <%=productos.remeras.destacada.marca%>
                                        </a>
                                    </div>
                                    <div class="for">
                                        <p>
                                            <%=productos.remeras.destacada.descripción%>
                                        </p>
                                    </div>
                                    <div class="price">
                                        <p>$<%=productos.remeras.destacada.precio%>
                                        </p>
                                    </div>
                                </div>
                            </a>
                            <% } %>
                    </div>
                </div>
            </div>
            <div class="productArrivalTwo">
                <div class="product">
                    <% if(productos.camperas.destacada){ %>
                        <a href="/prod/hydro/<%= productos.camperas.destacada._id %>">

                            <img src="<%= productos.camperas.destacada.imagen %>" alt="">
                            <div class="infoProduct">
                                <div class="nameProduct">
                                    <a href="#">
                                        <%= productos.camperas.destacada.marca %>
                                    </a>
                                </div>
                                <div class="for">
                                    <p>
                                        <%= productos.camperas.destacada.descripción %>
                                    </p>
                                </div>
                                <div class="price">
                                    <p>$<%= productos.camperas.destacada.precio %>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <% } %>
                </div>
            </div>
        </div>
        <div class="category">
            <div class="men">
                <div class="headerCategory">
                    <div class="titleCategory">
                        <h2><a href="#">Hombre</a></h2>
                    </div>
                    <div class="arrowRight">
                        <button id="menBtn"><i class="bi bi-arrow-right"></i></button>
                    </div>
                </div>

                <% if(productos.remeras.destacada) { %>
                    <a href="/prod/hydro/<%= productos.camperas.destacada._id %>">
                        <div class="imageCategory">
                            <img src="<%= productos.remeras.destacada.imagen %>" alt="">
                        </div>
                    </a>

                    <% } %>
            </div>
            <div class="kids">
                <% if(productos.remeras.destacada) { %>

                    <a href="/prod/hydro/<%= productos.remeras.destacada._id %>">
                        <div class="imageCategory">
                            <img src="<%= productos.remeras.destacada.imagen %>" alt="">
                        </div>
                    </a>
                    <% } %>

                        <div class="headerCategory">
                            <div class="titleCategory">
                                <h2><a href="#">Niños</a></h2>
                            </div>
                            <div class="arrowRight">
                                <button id="kidsBtn"><i class="bi bi-arrow-right"></i></button>
                            </div>
                        </div>
            </div>
            <div class="women">
                <div class="headerCategory">
                    <div class="titleCategory">
                        <h2><a href="#">Mujeres</a></h2>
                    </div>
                    <div class="arrowRight">
                        <button id="womenBtn"><i class="bi bi-arrow-right"></i></button>
                    </div>
                </div>
                <% if(productos.remeras.destacada) { %>
                    <a href="/prod/hydro/<%= productos.remeras.destacada._id %>">
                        <div class="imageCategory">
                            <img src="<%= productos.remeras.destacada.imagen %>" alt="">
                        </div>
                    </a>
                    <% } %>
            </div>
        </div>
        </div>
        </div>
    </section>
    <section id="newMore section4" class="seccion carrusel">
        <div id="top-container" class="headerMas">

            <div class="title">
                <h2>MAS SOBRE "MARCA"</h2>
            </div>

            <div class="btn">

                <div class="arrowLeft">
                    <button id="prev-button-3"><i class="bi bi-arrow-left"></i></button>
                </div>

                <div class="arrowRight">
                    <button id="next-button-3"><i class="bi bi-arrow-right"></i></button>
                </div>

            </div>

        </div>
        <div id="container">
            <div class="productMoreOne">
                <div class="container1 img-container1">
                    <img src="https://raw.githubusercontent.com/mateoargf/imagenesXEcomerceTPFINAL/main/pelota3.jpg"
                        alt="Imagen 1" class="img-fluid">
                </div>
                <div class="container1 text-container1">
                    <h2><span class="diseño-text">REGRESO DE "SUB-MARCA"</span></h2>
                    <p>X Basketball se enorgullece de anunciar el regreso de X eurocamp, una muestra de juegos múltiples
                        de los atletas de élite elegibles para el draft de la NBA de Europa...</p>
                    <p><a href="#" class="a-mas">MAS</a></p>
                </div>
            </div>
            <div class="productMoreTwo">
                <div class="container1 text-container1">
                    <h2><span class="diseño-text">DISEÑADO POR & PARA MUJERES</span></h2>
                    <p>Dado que cuatro de cada 10 (43%) mujeres comenzaron a hacer senderismo durante la pandemia, X
                        terrex está impulsada a desarrollar productos diseñados específicamente para esta comunidad...
                    </p>
                    <p><a href="#" class="a-mas">MAS</a></p>
                </div>
                <div class="container1 img-container1">
                    <img src="https://raw.githubusercontent.com/mateoargf/imagenesXEcomerceTPFINAL/main/zapatillas2.jpg"
                        alt="Imagen 2" class="img-fluid">
                </div>
            </div>
        </div>

    </section>

</section>
<div class="imagenancha" data-aos="fade-up">

    <img src="https://raw.githubusercontent.com/mateoargf/imagenesXEcomerceTPFINAL/main/imposible.jpg"
        alt="Imagen Adicional" class="full-width-image">

</div>
<style>
    .carousel-container {
        width: 85vw;
        margin: 0 auto;
        text-align: center;
    }

    .carrusel {
        display: none;
    }

    .carrusel:first-child {
        display: block;
    }

    /*
button {
  margin: 10px;
} // Lo saque ya que me hace conflicto para editar otras cosas
*/
    /* 
   ------------------------- 
   ----Nueva Coleccion------
   -------------------------
*/
    /* ------- General --------- */
    p {
        font-weight: 400;
        font-size: 1.063em;

    }

    a {
        font-size: 400;
        font-size: 1em;
        color: #000;
    }

    img {
        object-fit: contain;
    }

    .carrusel img {
        cursor: pointer;
    }

    .headerArrivals,
    .headerCollection,
    .headerMas,
    .headerPopular,
    .headerCategory {
        padding: 20px 0px;
    }

    .headerArrivals h2,
    .headerCollection h2,
    .headerPopular h2,
    #top-container h2 {
        /*font-weight: 600;*/
        font-size: 1.357em;
        text-transform: uppercase;
        /*Modifique el tamaño y el ancho de la letra (?*/
    }

    .nameProduct a {
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.3s ease;
        font-size: 16px;
        font-weight: 500;

    }

    .nameProduct a:hover {
        color: #545454;
        transition: all 0.3s ease;
    }


    .titleCategory a {
        text-decoration: none;
        text-transform: uppercase;
    }

    .for p {
        color: #c6c6c6;
        text-transform: uppercase;
        text-overflow: clip;
        font-size: 14px;
    }

    .btn {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .arrowLeft button {
        padding: 5px 8px;
        font-size: 1.3em;
        background: #fff;
        border: 2px solid #000;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .arrowLeft button:hover {
        background: #000;
        color: #fff;
        transition: all 0.3s ease;
    }

    .arrowLeft button:focus {
        background: #000;
        color: #fff;
    }

    .arrowRight button {
        padding: 5px 8px;
        font-size: 1.3em;
        background: #fff;
        border: 2px solid #000;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .arrowRight button:hover {
        background: #000;
        color: #fff;
        transition: all 0.3s ease;
    }

    .arrowRight button:focus {
        background: #000;
        color: #fff;
    }

    .wideProduct {
        width: 100%;
    }

    .wideProduct img {
        height: 44vh;
        width: 100%;
        border: 1px solid #c6c6c6;
        border-radius: 5px;
        object-fit: contain;
    }

    .product img {
        height: 44vh;
        border: 1px solid #c6c6c6;
        border-radius: 5px;
    }

    .image img {
        height: 50vh;
        /*55*/
        width: 100%;
        border: 1px solid #c6c6c6;
        border-radius: 5px;
    }

    .colleccion {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    /* ----- MORE FROM ---------*/

    #newMore {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 0 auto;
        gap: 2rem;
        position: relative;
    }

    .headerMas {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }

    .container1 {
        flex: 1;
        width: 40vw;
        text-align: start;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /*Agregue gap para separar el contenido*/

    }

    .productMoreOne {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        width: 100%;
        /*Agregue el width para que ocupe todo el espacio*/
    }

    .productMoreTwo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .container1 .img-container1 {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        padding: 10px;

    }

    /* .img-container1 img,
    .img-container2 img {
        max-width: 40vw;
        /* height: 20vw; */
    /* } */

    .imagenancha {
        padding: 50px 0px 10px 0px;
        width: 100vw;
    }


    .full-width-image {
        width: 100vw;

    }

    .diseño-text {
        font-size: 1.4vw;
        /* Tamaño de letra inicial */
        transition: font-size 0.3s ease;
        /* Transición suave para el cambio de tamaño de letra */

    }

    .productMoreOne p,
    .productMoreTwo p {
        font-size: 0.9em;
        /*Modifique el tamaño*/
        transition: font-size 0.3s ease;
        /* Transición suave para el cambio de tamaño de letra */
        width: 70%;
    }

    /* ----- NewColleccion ------- */

    #newCollection {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        gap: 2rem;
    }

    .headerCollection {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .productCollectionOne {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding-bottom: 15px;
        justify-content: space-between;
    }

    .infoProduct {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        align-items: flex-start;

    }

    .productCollectionTwo {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding-bottom: 50px;
    }

    .productCollectionOne .product img,
    .productCollectionTwo .product img

    /*
.imagesCollection img*/
        {
        max-width: 100%;
    }

    /*le sace el max-width porque hace el el aviso quede muy ancho */

    .imagesCollection {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .advertisement {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        background: #000;
        height: 50vh;
        width: 30%;
        /*50%*/
        padding: 0px 0px;
        border-radius: 5px;
    }

    .advertisement .titleAd,
    .advertisement .textAd {
        padding: 0px 10px;
    }

    .titleAd h1 {
        /*Lo cambie de un h2 a un h1 porque la letra es grande en el diseño original*/
        font-size: 2em;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }

    .textAd p {
        color: #fff;
        text-align: center;
        font-size: 0.9em;
    }

    .btnAd button {
        min-width: 180px;
        height: 40px;
        position: relative;
        padding: 5px 25px;
        background: transparent;
        color: #000;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid #fff;
        border-radius: 3px;
        transition: all 0.3s ease;
        cursor: pointer;
        z-index: 0;
    }

    .btnAd button::after {
        content: "";
        width: 100%;
        z-index: -1;
        position: absolute;
        height: 100%;
        bottom: 3px;
        right: 5px;
        background: #fff;
        border: 1px solid #fff;
        border-radius: 3px;
        transition: 0.2s;
    }

    .btnAd button:hover {
        color: #545454;
    }

    .btnAd button :hover::after {
        border: 1px solid #545454;
    }

    .btnAd button:focus {
        border: 1px solid #000;
    }

    /* ----- PopularNOW ------- */

    #popularNow {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        gap: 2rem;
    }

    .headerPopular {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mainPopular {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        /* flex-wrap: wrap; */
        /* padding-bottom: 15px; */
    }

    .mainPopular .product {
        width: calc(50% -10px);
        /* margin-bottom: 20px; */
        height: 50vh;
    }

    .mainPopular .product img {
        max-width: 100%;
        height: 49vh;
    }

    .infoProduct {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        align-items: flex-start;
    }

    .price {
        display: flex;
        gap: 0.3rem;
    }

    .price span {
        color: #E32B32;
    }

    .footerPopular {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 10rem;
    }

    .imagesPopular {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-bottom: 10px;
        justify-content: center;


    }

    .imagesPopular .imageP:nth-child(3) {
        width: 85%;
    }

    /* .imagesPopular .imageP img:nth-child(3){
        width: 100%;
    } */

    .imageP img {
        height: 44vh;
        /*44vh*/
        border: 1px solid #c6c6c6;
        border-radius: 5px;
        /*max-width: 100%;*/
        width: 100%;
    }

    .wideImageP {
        /*max-width: 100%;*/
        width: 100%;
    }



    .wideImageP img {
        height: 44vh;
        width: 100%;
        border: 1px solid #c6c6c6;
        border-radius: 5px;
    }


    .wideImagePopular {
        display: flex;
        align-items: center;
        max-width: 100%;

    }

    .wideImagePopular .wideImageP {
        width: 91%;
    }

    .wideAdvertisement {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        padding: 70px;
        align-items: start;
    }

    .titleAdW h1 {
        font-size: 2em;
        color: #000;
        text-transform: uppercase;
        text-align: start;
    }

    .textAdW p {
        color: #000;
        font-size: 0.9em;
        text-align: start;
        width: 90%;
    }

    .btnAdW button {
        min-width: 130px;
        height: 40px;
        position: relative;
        padding: 5px 35px;
        background: #fff;
        color: #fff;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        border: 1px solid #c6c6c6;
        border-radius: 3px;
        z-index: 0;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    .btnAdW button::after {
        content: "";
        width: 100%;
        z-index: -1;
        position: absolute;
        height: 100%;
        bottom: 3px;
        right: 5px;
        background: #000;
        border: 1px solid #000;
        border-radius: 3px;
        border-radius: 3px;
        transition: 0.2s;
    }

    .btnAdW button:hover {
        color: #545454;
    }

    .btnAdW button:hover::after {
        border: 1px solid #545454;
    }

    .btnAdW button:focus {
        border: 1px solid #000;
    }

    /* ----- newArrivals ------- */

    #newArrivals {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        gap: 2rem;
    }

    .headerArrivals {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mainArrivals {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
        padding-bottom: 30px;
    }

    .productArrivalOne {
        display: flex;
        flex-direction: column;
        width: 50%;
    }


    .productArrivalTwo {
        display: flex;
        flex-direction: column;
        width: 60%;
        /*50%*/
    }

    /* .productArrivalOne .product{
        width: 80%;
    }  */

    .fliaOne,
    .fliaTwo {
        display: flex;
        gap: 0.5rem;
        height: auto;
        align-items: center;
        justify-content: space-between;
    }

    .fliaTwo .wideProduct img,
    .fliaOne .product img {
        max-width: 100%;
        height: 44vh;
    }

    .productArrivalTwo .product img {
        height: 95vh;
        /*96vh*/
        width: 100%;
        /*calc(67vw/1.28);*/
    }


    .category {
        display: flex;
        gap: 0.5rem;
    }

    .men img,
    .kids img,
    .women img {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .headerCategory {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .men .arrowRight button {
        border: none;
        font-size: 2em;
    }

    .kids .arrowRight button {
        border: none;
        font-size: 2em;
    }

    .women .arrowRight button {
        border: none;
        font-size: 2em;
    }

    .imageCategory img {
        height: 65.6vh;
        border: 1px solid #c6c6c6;
        border-radius: 5px;
    }

    .kids {
        margin-top: 2rem;
    }

    @media screen and (min-width:1024px) and (max-width:1430px) {

        .container1 p,
        .container1 p {
            font-size: 1.5vw;
        }

        .diseño-text {
            font-size: 1.7vw;
        }



    }

    @media screen and (min-width:768px) and (max-width:1023px) {
        .product {
            width: 100%;
            margin: 0 auto;
        }

        .product img {
            height: 50vh;
            width: 100%;
        }

        .wideProduct img {
            height: 50vh;
        }


        .containerHeader {
            width: 90%;
        }

        nav {
            display: none;
        }

        /*-----------NEWCOLLECTION--------------*/

        #newCollection {
            width: 90%;
        }

        .productCollectionOne,
        .productCollectionTwo {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .carousel-container {
            width: 90vw;
        }

        /* .productCollectionOne .wideProduct,
        .productCollectionTwo .wideProduct {
            flex-basis: calc(100% - 2rem);
            /* El primer elemento ocupa todo el ancho en la primera fila */
        /* margin-right: 2rem;
        } */

        .productCollectionOne .product,
        .productCollectionTwo .product {
            flex-basis: calc(50% - 1rem);
            /* Los otros dos elementos ocupan el 50% del ancho en la segunda fila */
            margin-bottom: 2rem;
        }

        .imagesCollection {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .image {
            flex-basis: calc(50% - 1rem);
            /* Cada imagen ocupa el 50% del ancho de su contenedor */
            margin-bottom: 2rem;
            /* Agrega un espacio en la parte inferior para crear una nueva fila */
        }

        .advertisement {
            flex-basis: 50%;
            /* El elemento de anuncio ocupa todo el ancho en su propia fila */
            margin-bottom: 2rem;
            /* Agrega un espacio en la parte inferior del anuncio */
            padding: 0px
        }

        /*-----------POPULAR NOW--------------*/

        #popularNow {
            width: 90%;
        }

        .imagesPopular {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .imagespopular .imageP {
            flex-basis: calc(50% - 1rem);
            /* Los otros dos elementos ocupan el 50% del ancho en la segunda fila */
            margin-bottom: 2rem;
        }

        .imagespopular .wideImageP {
            flex-basis: calc(100% - 2rem);
            /* El primer elemento ocupa todo el ancho en la primera fila */
            margin-right: 2rem;
        }

        .wideImagePopular {
            display: flex;
            flex-direction: column;
        }

        .imagespopular {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .imageP {
            flex-basis: calc(50% - 1rem);
            /* Cada imagen ocupa el 50% del ancho de su contenedor */
            margin-bottom: 2rem;
            /* Agrega un espacio en la parte inferior para crear una nueva fila */
        }

        .imagesPopular .imageP:nth-child(3) {
            width: 100%;
        }

        .imageP:nth-child(3) {
            flex-basis: auto;
        }

        .imageP img:nth-child(3) {
            width: 100%;
        }

        .wideadvertisement {
            flex-basis: 50%;
            /* El elemento de anuncio ocupa todo el ancho en su propia fila */
            margin-bottom: 2rem;
            /* Agrega un espacio en la parte inferior del anuncio */
            padding: 0px
        }

        .wideImagePopular .wideImageP {
            width: 100%;
        }

        /*-----------NEW ARRIVALS--------------*/

        /* #newArrivals{
        width: 90%;
    }

    .productArrivalTwo .product img{
        height: 110vh;
    }

    .imageCategory img{
        height: 40.6vh;
    }

    .productMoreOne p, .productMoreTwo p{
        font-size: 2.1vw;
    }
    .diseño-text{
        font-size: 2.2vw;
    } */
        #newArrivals .category .men .imageCategory img,
        #newArrivals .category .kids .imageCategory img,
        #newArrivals .category .women .imageCategory img {
            height: auto;
            border-radius: 3px;
        }

        .imageCategory img {
            height: auto;
            border-radius: 3px;
        }

        #newArrivals .product img {
            height: auto;
            width: 100%;
        }

        .productArrivalTwo .product img {
            /* height: calc(84vw/1.28); */
            height: 100vh;
        }
    }

    @media screen and (max-width:767px) {

        .carousel-container {
            width: 90vw;
        }

        .product {
            width: 100%;
            margin: 0 auto;
        }

        .product img {
            height: 100vh;
            width: 100%;
        }

        .containerHeader {
            width: 95%;
        }

        nav {
            display: none;
        }

        .bag {
            display: none;
        }

        #newCollection {
            width: 95%;
        }

        .productCollectionOne {
            flex-direction: column;
        }

        .productCollectionTwo {
            flex-direction: column;
        }

        .imagesCollection {
            flex-direction: column;
        }

        .image {
            width: 100%;
        }

        .image img {
            height: 100vh;
            width: 100%;
        }

        .advertisement {
            height: 70vh;
            width: 100%;
            gap: 2rem;
        }

        #popularNow {
            width: 95%;
        }

        .mainPopular {
            flex-direction: column;
        }

        .imagesPopular .imageP:nth-child(3) {
            width: 100%;
        }

        /* .mainPopular .product img {
            height: 100vh;
        } */

        .imagesPopular {
            flex-direction: column;
        }

        .wideImagePopular {
            flex-direction: column;
        }

        .wideImagePopular .wideImageP {
            width: 100%;
        }

        .imageP img {
            height: 100vh;
            width: 100%;
        }

        .wideAdvertisement {
            height: 60vh;
        }

        .titleAdW h2 {
            text-align: center;
        }

        .textAdW p {
            text-align: center;
        }

        .btnAdW button {
            display: flex;
            justify-content: center;
        }

        #newArrivals {
            width: 95%;
        }

        .mainArrivals {
            flex-direction: column;
        }

        .productArrivalOne {
            width: 100%;
        }

        .productArrivalTwo {
            width: 100%;
        }

        .fliaOne {
            flex-direction: column;
        }

        .category {
            flex-direction: column;
        }

        .men {
            display: flex;
            flex-direction: column-reverse;
        }


        .women {
            display: flex;
            flex-direction: column-reverse;
        }

        .imageCategory img,
        .productArrivalTwo .product img {
            height: 100vh;
            width: 100%;
        }


        .container1 p,
        .container1 p {
            font-size: 2.8vw;
        }

        .diseño-text {
            font-size: 3.2vw;
        }

        #container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        .container1 {
            width: 90vw;
            padding-bottom: 20px;
        }

        .productMoreOne {
            display: flex;
            flex-direction: column;
        }

        .productMoreTwo {
            flex-direction: column-reverse
        }

        .img-container1 img,
        .img-container2 img {
            max-width: 100vw;
            height: 65vw;
        }

    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const carruseles = document.querySelectorAll(".carrusel");

        console.log(`${carruseles.length} carruseles encontrados`);

        let currentIndex = 0;
        carruseles.forEach((carrusel, index) => {
            const nextButton = carrusel.querySelector(`#next-button-${index}`);
            const prevButton = carrusel.querySelector(`#prev-button-${index}`);



            function showCarrusel(index) {
                carruseles.forEach((carrusel) => (carrusel.style.display = "none"));
                carruseles[index].style.display = "block";
                console.log(`Mostrando carrusel ${index}`);
            }

            nextButton.addEventListener("click", function () {
                console.log(`Aprete adelante y tengo un index actual de ${currentIndex}`);
                currentIndex = (currentIndex + 1);
                if (currentIndex > 3) {
                    currentIndex = 0;
                }
                console.log(`Index actualizado a ${currentIndex}`);
                showCarrusel(currentIndex);
            });


            prevButton.addEventListener("click", function () {
                currentIndex = (currentIndex - 1);
                if (currentIndex < 0) {
                    currentIndex = 3;
                }
                console.log(`Mostrando ubicacion ${currentIndex}`);
                showCarrusel(currentIndex);
            });
        });
    });


    const shopBtn = document.getElementById('shopBtn');

    shopBtn.addEventListener('click', () => {
        // Agregar un retraso de 2 segundos antes de redirigir a Google
        setTimeout(() => {
            window.location.href = 'http://localhost:3600/prod/group';
        }, 2000); // El retraso se define en milisegundos (en este caso, 2000 ms = 2 segundos)
    });

    const uneteBtn = document.getElementById('uneteBtn');

    uneteBtn.addEventListener('click', () => {
        // Agregar un retraso de 2 segundos antes de redirigir a Google
        setTimeout(() => {
            window.location.href = 'http://localhost:3600/user/registro';
        }, 2000); // El retraso se define en milisegundos (en este caso, 2000 ms = 2 segundos)
    });

    const menBtn = document.getElementById('menBtn');
    const kidsBtn = document.getElementById('kidsBtn');
    const womenBtn = document.getElementById('womenBtn');

    menBtn.addEventListener('click', () => {
        // Agregar un retraso de 2 segundos antes de redirigir a Google
        setTimeout(() => {
            window.location.href = 'http://localhost:3600/prod/category';
        }, 2000); // El retraso se define en milisegundos (en este caso, 2000 ms = 2 segundos)
    });


    kidsBtn.addEventListener('click', () => {
        // Agregar un retraso de 2 segundos antes de redirigir a Google
        setTimeout(() => {
            window.location.href = 'http://localhost:3600/prod/category';
        }, 2000); // El retraso se define en milisegundos (en este caso, 2000 ms = 2 segundos)
    });


    womenBtn.addEventListener('click', () => {
        // Agregar un retraso de 2 segundos antes de redirigir a Google
        setTimeout(() => {
            window.location.href = 'http://localhost:3600/prod/category';
        }, 2000); // El retraso se define en milisegundos (en este caso, 2000 ms = 2 segundos)
    });


</script>